<% content_for :content do %>

<div class="page-header">
  <h1>Food blog <small>Tell me about your latest meal</small></h1>
</div>

<form>
  <div class="form-group">
    <label>Describe your meal</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label>Image of the meal</label>

    <!-- Is shown if the user is on the regular web-application -->
    <!-- <div id="image-webclient">
      <input type="file" id="exampleInputFile">
      <p class="help-block">Press to upload an image</p>
    </div> -->

    <!-- Is shown if it's loaded in a native application -->
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="" id="image">
          <div class="caption">
            <h3>Photo of your meal</h3>
            <p>Send a photo of your meal</p>
            <p>
              <a href="#" class="btn btn-default" role="button" id="take-image-button">Take photo</a>  
              <a href="#" class="btn btn-default" role="button" id="upload-image-button">Upload photo</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">

    <!-- Is shown if the user is on the regular web-application -->
    <!-- <div id="location-webclient">
      <label for="mealType">Add your location</label>
      <input type="text" class="form-control">
    </div> -->

    <!-- Is shown if it's loaded in a native application -->
    <div id="location-div">
      <label for="mealType">Add your location</label>
      <button class="btn btn-default" type="button" id="button-add-location">Add location</button>
      <p class="help-block">Press to add your location</p>
      <p class="lead" style="display: none" id="p-location-native-app"></p>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit to food blog</button>
</form>
 
  <!-- <h1 id="received-message">Message: </h1>
  <button type="button" id="js-send-message">Send message to phonegap</button> 
  <img src="">
  <input type="button" value="Request image" id="js-request-image" />
 -->
<% end %>
