<% content_for :content do %>
<h1>Welcome to pollux start page</h1>
<h2>JS methods</h2>
<ul>
  <li>addImgBase64(); this function is called from native android</li>
  <li>showAndroidToast(String);</li>
  <li>requestImage();</li>
</ul>

<img src="">
<input type="button" value="Say hello to android" onClick="showAndroidToast('Hello Android!')" />
<input type="button" value="Request image" onClick="requestImage()" />
<!-- <form action="" method="get">
	<input id="floatNumber" type="number" step="any">
</form> -->
<% end %>
