<% content_for :content do %>
<h1>Welcome to pollux start page</h1>
<h2>JS methods</h2>
<ul>
  <li>sayHello();</li>
</ul>
<input type="button" value="Say hello to android" onClick="showAndroidToast('Hello Android!')" />
<% end %>